<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/majorsACasa.css"
          th:href="@{/css/majorsACasa.css}"/>
    <title>Acceptar Voluntaris</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d'estil (Bootstrap) -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
</head>
<body>
<div class="subheading mb-5" th:if="${#maps.isEmpty(requests)}">No hi ha sol·licituts pendents de revisió</div>
<table th:unless="${#maps.isEmpty(requests)}"  class="table table-condensed">

    <tbody>
    <th>Sol·licituts pendents: </th>
    <tr>
        <td>Nom</td>
        <td>Dni</td>
        <td>Tipus</td>
        <td>Comentaris</td>
        <td></td>
    </tr>
    <tr th:each="request: ${requests}">
        <td th:text="${request.key.name}"></td>
        <td th:text="${request.key.dni}"></td>
        <td th:text="${request.value.TypeOfService}"></td>
        <td th:text="${request.value.comment}"></td>
        <td><a th:href="@{/cas/denegar/{id}(id=${request.value.id})}"><button type="button" class="btn btn-danger">Denegar servei</button></a></td>
        <td><a th:href="@{/cas/mostrarCompanyia/{id}(id=${request.value.id})}"><button type="button" class="btn btn-warning">Afegir companyia</button></a></td>
    </tr>
    </tbody>
</table>
</form>
</body>
</html>