<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Template</title>
    <!--<link rel="stylesheet" type="text/css" href="/assets/css/login.css" th:href="@{/assets/css/login.css}"/>-->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="login-card-description" th:if="${#maps.isEmpty(requests)}">No hi ha sol·licituts pendents de revisió</div>
                        <table th:unless="${#maps.isEmpty(requests)}"  class="table table-borderless">

                            <h1 class="login-card-description">Sol·licituts pendents: </h1>
                            <tbody>
                            <tr>
                                <td>Nom</td>
                                <td>Dni</td>
                                <td>Tipus</td>
                                <td>Comentaris</td>
                                <td></td>
                            </tr>
                            <tr th:each="request: ${requests}">
                                <td th:text="${request.key.name}"></td>
                                <td th:text="${request.key.dni}"></td>
                                <td th:text="${request.value.TypeOfService}"></td>
                                <td th:text="${request.value.comment}"></td>
                                <td><a th:href="@{/cas/denegar/{id}(id=${request.value.id})}"><button type="button" class="btn btn-danger">Denegar servei</button></a></td>
                                <td><a th:href="@{/cas/mostrarCompanyia/{id}(id=${request.value.id})}"><button type="button" class="btn btn-warning">Assignar companyia</button></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>