<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/majorsACasa.css"
          th:href="@{/css/majorsACasa.css}"/>
    <title>Beneficiaris a càrrec</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d'estil (Bootstrap) -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
</head>
<body>
<div class="subheading mb-5" th:if="${#maps.isEmpty(benReq)}">Ningú ha contractat els teus serveis</div>
<table th:unless="${#maps.isEmpty(benReq)}">
    <tr>
        <td>Solicitant</td>
        <td>Direcció</td>
        <td>Horari</td>
        <td>Tipus</td>
        <td>Comentaris</td>
    </tr>
    <tr th:each ="br: ${benReq}">
        <td th:text="${br.key.name}"></td>
        <td th:text="${br.key.homeAddress}"></td>
        <td th:text="${br.value.schedule}"></td>
        <td th:text="${br.value.TypeOfService}"></td>
        <td th:text="${br.value.comment}"></td>
    </tr>
</table>
</body>
</html>