<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Voluntari</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nuevo voluntario</h2>
<form action="#" th:action="@{/volunteer/add}"
      th:object="${volunteer}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Apellido</label></td>
            <td><input type="text" th:field="*{surname}" /></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" maxlength="9" th:field="*{dni}" required=""/></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td><input type="text" th:field="*{phoneNumber}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" required=""/></td>
        </tr>
        <tr>
            <td><label>Fecha de nacimiento</label></td>
            <td><input type="date" th:field="*{birthDate}" required=""/></td>
        </tr>
        <tr>
            <td><label>Usuario</label></td>
            <td><input type="text" th:field="*{user}" required=""/></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="password" th:field="*{pwd}" required=""/></td>
        </tr>
        <tr>
            <td><label>Hobbies</label></td>
            <td><input type="text" th:field="*{hobbies}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir" /></td>
        </tr>
    </table>
</form>
</body>
</html>