<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <td class="lead mb-5" th:text="${ben.name}"></td>
    <td class="lead mb-5" th:text="${ben.description}"></td>
    <td class="lead mb-5" th:text="${#strings.replace(ben.homeAddress,'#',' ')}"></td>
    <td class="lead mb-5" th:text="${ben.phoneNumber}"></td>
    <td class="lead mb-5" th:text="${ben.email}"></td>
    <td class="lead mb-5" th:text="${#strings.replace(hourIn,'T',' ')}"></td>
    <td class="lead mb-5" th:text="${#strings.replace(hourOf,'T',' ')}"></td>
</table>

</body>
</html>