/* Estil aplicat al cos de la pagina background: linear-gradient(180deg, #76cbf5 20%, #239edb 100%); */


@import url('https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
@import url('https://fontlibrary.org/face/metropolis');

body{
   background: rgb(11,25,143);
   background: linear-gradient(8deg, rgba(11,25,143,1) 0%, rgba(18,27,187,1) 50%);
   background-size: cover;
   background-repeat: no-repeat center fixed;
   text-align:center;
   background-attachment:fixed;
   margin:center;
   height: 100%;
   width: 100%;
   font-size: 16px;
   position: relative;
}

h1{
    font-size: x-large;
    color: black;
    font-weight: bold;

}

/* Capçalera de nivell 2                                */
h2 {
   margin-top:25pt;
   margin-right: 66pt;
   margin-left: 50pt;
   font-family: 'MetropolisBlack';
   font-size: xxx-large;
   font-weight: normal;
   font-style: normal;
   color: tomato;
   text-shadow: 1px 1px 3px orangered;

}
/*form {
    margin:auto;
    width: 50%;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid #E1E1E1;
	padding: 40px;
}
    margin: 20px 0;
*/
input{
    margin-top:100pt;
    right:50px
   /* margin-left: 300pt;
    margin-right: 50pt;*/
    display: block;
    border-style: solid;
    padding: 8px;
    width: 20%;
    font-family: 'MetropolisRegular';
    font-size: 20px;

}
input[type="submit"]{
    background: linear-gradient(#FFDEAD,#FFE4E1);
    border:0;
    color:brown;
    opacity:3.0;
    cursor:pointer;
    border-radius:20px;
    margin-bottom:0;
}

input[type="submit"]:hover{
    opacity:4.0;
}

input[type="submit"]:active{
    transform: scale(0.95);
}


p{
   font-family: 'MetropolisSemiBold';
   font-size: normal;
   font-weight: normal;
   font-style: normal;
   color: darkslategrey;

}
.loggeduser {
	color: gray;
	position:absolute;
	top: 5px;
	right:10px

	/*
	text-align: right;
    margin-right: 10pt;*/
}


/*Per als errores*/
.error {
     font-family: 'MetropolisBold'
     color: red;
     font-size:100%
}

/* Classe CSS per atributs erronis */
.needcorrection {
     font-family: 'MetropolisBold'
     color: red;
     background-color:yellow;
}
