/* Estil aplicat al cos de la pagina background: linear-gradient(180deg, #76cbf5 20%, #239edb 100%); */


@import url('https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
@import url('https://fontlibrary.org/face/metropolis');

body{
   background: rgb(11,25,143);
   background: linear-gradient(8deg, rgba(11,25,143,1) 0%, rgba(18,27,187,1) 50%);
   background-size: cover;
   background-repeat: no-repeat center fixed;
   text-align:center;
   background-attachment:fixed;
   margin:center;
   height: 100%;
   width: 100%;
   font-size: 16px;
   position: relative;
}

h1{
    font-size: xxx-large;
    color: black;
    font-weight: bold;

}

/* Capçalera de nivell 2                                */
h2 {
   margin-top: 25pt;
   margin-right: 66pt;
   margin-left: 50pt;
   font-family: 'MetropolisBlack';
   font-size: 80pt;
   font-weight: normal;
   font-style: normal;
   color: white;
   text-shadow: 1px 1px 3px orangered;

}

form {
    margin:auto;
    margin-top:60pt;
    height: 140px;
    width: 50%;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.1);
	border: 2px solid #E1E1E1;
	padding: 10px;
}

input{
     display: block;
     border-style: solid;
     padding: 10px;
     height: 70px;
     width: 100%;
     margin: 20px 0;
     font-family: 'MetropolisBold';
     font-size: 30px;
}

input[type="submit"]{
    background: linear-gradient(#FFDEAD,#FFE4E1);
    border:0;
    color:brown;
    opacity:3.0;
    cursor:pointer;
    border-radius:20px;
    margin-bottom:0;
}

input[type="submit"]:hover{
    opacity:4.0;
}

input[type="submit"]:active{
    transform: scale(0.95);
}


p{
   font-family: 'MetropolisSemiBold';
   font-size: normal;
   font-weight: normal;
   font-style: normal;
   color: darkslategrey;

}
.loggeduser {
     height: 50px;
     position: relative;
     bottom: -75px;
}

a:link, a:visited {
  font-family: 'MetropolisSemiBold';
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

a:hover, a:active {
  background-color: red;
}


/*Per als errores*/
.error {
     font-family: 'MetropolisBold'
     color: red;
     font-size:100%
}

/* Classe CSS per atributs erronis */
.needcorrection {
     font-family: 'MetropolisBold'
     color: red;
     background-color:yellow;
}
