/* Estil aplicat al cos de la pagina */
body{
background: linear-gradient(180deg, #4fb2e3 0%, #239edb 100%);
text-align:center;
margin:0;
background-repeat:no-repeat;
background-attachment:fixed;
}

/*Capçalera*/
h1{
font-size: x-large;
color: black;
font-weight: bold;

}

/*Per als errores*/
.error {
     color: red;
     font-size:100%
}

/* Classe CSS per atributs erronis */
.needcorrection {
     color: red;
     background-color:yellow;
}
.loggeduser {
	color: gray;
	text-align: right;
margin-right: 10pt;
}