<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Companyia</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nova companyia</h2>
<form action="#" th:action="@{/cas/addCompany}"
      th:object="${company}" method="post">
    <table>
        <tr>
            <td><label>CIF</label></td>
            <td><input type="text" maxlength="9" th:field="*{cif}" required=""/></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nameCompany}" /></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>
        <tr>
            <td><label>Encargado del contrato</label></td>
            <td><input type="text" th:field="*{contractPersonName}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{companyMail}" required=""/></td>
        </tr>
        <tr>
            <td><label>Usuario</label></td>
            <td><input type="text" th:field="*{user}" required=""/></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="password" th:field="*{password}" required=""/></td>
        </tr>
        <tr><td><select class="form_control" type="text" th:field="*{serviceType}">
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type}"></option>
        </select> </td></tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir" /></td>
        </tr>
    </table>
</form>
</body>
</html>