<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Serveis</title>
    <!--<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />-->

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">

            <h1 class="mb-1">Majors a Casa</h1>
            <h3 class="mb-5">
                <em>Sempre amb tu, des de sempre.</em>
            </h3>
            <p>
            <form action="#" th:action="@{/cas/addCompany}" th:object="${user}">
                <input type="submit" class="btn btn-primary btn-xxl js-scroll-trigger" value="REGISTRAR COMPANYIES" />
            </form>
            </p>


            <p><a class="btn btn-dark"  th:object="${session}" href="/logout" th:href="@{/logout}">Eixir</a></p>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    </section>
</div>
</body>
</html>