<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/majorsACasa.css"
          th:href="@{/css/majorsACasa.css}"/>
    <title>Llista d'usuaris del sistema</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d'estil (Bootstrap) -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
</head>

<body>
<h1>Llista d'usuaris del sistema</h1>
<div th:if="${#lists.isEmpty(volunteers)}">
    No hi ha voluntaris
</div>
<div th:if="${#lists.isEmpty(companies)}">
    No hi ha companyies
</div>
<table th:unless="${#lists.isEmpty(volunteers)}"  class="table table-condensed">
    <thead>
    <tr>
        <th>Nom d'usuari</th>
    </tr>
    </thead>

    <tbody>
    <th>Voluntaris: </th>
    <tr th:each="volunteer: ${volunteers}">
        <td th:text="${volunteer.name}"></td>
    </tr>
    </tbody>
</table>
<table th:unless="${#lists.isEmpty(companies)}"  class="table table-condensed">
    <thead>
    <tr>
        <th>Nom d'usuari</th>
    </tr>
    </thead>

    <tbody>
    <th>Companyies: </th>
    <tr th:each="company: ${companies}">
        <td th:text="${company.nameCompany}"></td>

        <tr th:unless="${#maps.isEmpty(precios)}">
            <tr th:each="precio: ${precios}">
                <td th:text="${precio.key}"></td>
                <td th:text="${precio.value}"></td>
            </tr>
        </tr>

    </tr>
    </tbody>
</table>

<a href="/" class="btn btn-primary" role="button">Tornar</a>
</body>
</html>
