<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/listServices.css"
          th:href="@{/css/listServices.css}"/>
    <title>Llista d'usuaris del sistema</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d'estil (Bootstrap) -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
</head>

<body>
<h1 class="text-center">Llista de serveis contratats</h1>
<div class="voluntaris" th:if="${#lists.isEmpty(volunteers)}">
    No hi ha servicis solicitats a voluntaris
</div>
<div class="companyies" th:if="${#lists.isEmpty(companies)}">
    No hi ha servicis solicitats a companyies
</div>
<thead>
<tr>
    <th>Nom d'usuari: </th>
    <td th:text="${user}"></td>

</tr>
</thead>
<table th:unless="${#lists.isEmpty(volunteers)}">
    <tbody>
    <th>Voluntaris: </th>
    <tr th:each="volunteer: ${volunteers}">
        <td th:text="${volunteer.name}"></td>
    </tr>
    </tbody>
</table>
<!--<table th:unless="${#lists.isEmpty(companiesServices)}"  class="table table-condensed">

    <tbody>
    <th>Companyies per a solicitar: </th>
    <tr th:each="company: ${companiesServices}">
        <td th:text="${company.nameCompany}"></td>
    </tr>
    </tbody>
</table>-->
<table th:unless="${#lists.isEmpty(companies)}">
    <tbody>
    <th>Companyies actives: </th>
    <tr th:each="company: ${companies}">
        <td th:text="${company.nameCompany}"></td>

    </tr>
    </tbody>
</table>
<a href="/services/add"><button type="button" class="btn btn-success">Añadir servicio</button></a>
<a href="/" class="btn btn-primary" role="button">Tornar</a>
</body>
</html>
