<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>

    <link rel="stylesheet" type="text/css"
          href="/css/majorsACasa.css"
          th:href="@{/css/majorsACasa.css}"/>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <!--<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/metropolis" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>-->

</head>
<body>
<div layout:fragment="content">
    <h2 class="text-center">ACCÉS</h2>
    <form action="#" class="login" th:action="@{/login}"
          th:object="${user}" method="post">
        <p>
            <!--<label>Nom d'usuari:</label>-->
            <input class="form_control" type="text" th:field="*{user}"  placeholder="&#128100; Usuari" />
        <div class="error" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></div>
        </p>
        <p>
            <!--<label>Contrasenya:</label>-->
            <input class="form_control" type="password" th:field="*{password}" placeholder="&#128272; Contrasenya" />
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </p>
        <input  type="submit" value="Accedir" />
    </form>
</div>
</body>
</html>